.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;

}

.App-link {
  color: #09d3ac;
  text-align: center;
  border-bottom:1px solid wheat;

 
}
.white-wrapper{
  justify-content: center;
  display: flex;
  flex-direction: column;
  background:rgb(211, 199, 177);
  text-align: center
}